<div class="footer-section is-open">
    <h5>J&J Snack Foods</h5>
    <nav>
        <a href="investors.html">Investors</a>
        <a href="financial-news.html">News</a>
        <a href="careers.html">Careers</a>
        <a href="contact.html">Contact</a>
    </nav>
</div>
<div class="footer-section">
    <h5>Products</h5>
    <nav>
        <a href="bakery.html">Bakery</a>
        <a href="retail.html">Retail</a>
        <a href="frozen-beverage.html">Frozen Beverage</a>
        <a href="food-service.html">Food Service</a>
    </nav>
</div>
<div class="footer-section">
    <h5>Social</h5>
    <nav> 
        <a href="https://www.linkedin.com/company/j&j-snack-foods" target="_blank">
            <span class="fab fa-linkedin-in"></span>
        </a>
        <a href="https://www.instagram.com/jjsnackfoods" target="_blank">
            <span class="fab fa-instagram"></span>
        </a>
        <a href="https://www.youtube.com/channel/UC-h7-D2pSK6w068HVjC7f4g" target="_blank">
            <span class="fab fa-youtube"></span>
        </a>
    </nav>
</div>
<div class="footer-section">
    <h5>More Info</h5>
    <nav>
        <a href="">Sitemap</a>
        <a href="privacy-policy.html">Privacy</a>
        <a href="">Legal</a>
        <a href="faq.html">FAQ</a>
        <a href="">Accessibility</a>
    </nav>
</div>