<header class="header">
    <div class="logo">
        <a href="index.html">
            <img src="assets/img/logo.svg" alt="J&J Snack Foods Corp." />
        </a>
    </div>
    <div class="navigation">
        {{> navigation}}
        <div class="nasdaq">
            <a href="" target="_blank">
                <img src="assets/img/stocks.svg" alt="" />
                <span>NASDAQ</span>
            </a>
        </div>
        <div class="header-social">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/j&j-snack-foods" target="_blank">
                        <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/jjsnackfoods" target="_blank">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC-h7-D2pSK6w068HVjC7f4g" target="_blank">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="" class="header-search">
            <span class="fa fa-search"></span>
            <img src="assets/img/search.svg" alt="" />
        </a>
        <div class="burger">
            <a href="">
                <img src="assets/img/burger.svg" alt="" class="burger-icon is-visible" />
                <img src="assets/img/close.png" alt="" class="close-icon is-hidden" />
            </a>
        </div>
    </div>
</header>