<div class="mobile-nav">
    <div class="mobile-nav-panel">
        <div class="section-container">
            <div class="navigation">
                {{> navigation}}
            </div>
            {{> mobile-nav-stocks}}
            <div class="mobile-nav-social">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/j&j-snack-foods" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/jjsnackfoods" target="_blank">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC-h7-D2pSK6w068HVjC7f4g" target="_blank">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>