<div class="search_open before-results">
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/logo.svg" alt="J&J Snack Foods Corp." />
            </a>
        </div>
        <div class="close">
            <a href="">
                <img src="assets/img/close.png" alt="" class="is-visible" />
            </a>
        </div>
    </header>
    <div class="search_open-panel">
        <div class="section-container">
            <h1>Search</h1>
            <form>
                <input type="text" placeholder="I am looking for..." />
                <input type="submit" value="Find it" class="btn btn--white btn--long" />
                <input type="reset" value="" class="clear" />
            </form>
            <p class="results-count">(10 Results)</p>
            <ul class="results">
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
                <li>
                    <a href="">Return result</a>
                </li>
            </ul>
        </div>
    </div>
</div>
