<a href="" target="_blank" class="stocks">
    <div class="grid-x grid-margin-x stocks__current-stocks">
        <div class="cell large-5 small-7 stocks__current-stocks__nasdaq">
            <h5>J&J Snack Foods Corp.</h5>
            <p>NASDAQ <span>JJSF</span></p>
        </div>
        <div class="cell large-4 small-5 stocks__current-stocks__stock-market">
            <h3>148.96</h3>
            <p class="stocks-up">1.25 <span class="stock-arrow"></span> 85%</p>
        </div>
        <div class="cell large-3 small-12 stocks__current-stocks__real-time">
            <div class="btn btn--red btn--small">Real-time</div>
            <p class="stocks-timer" id="stocks-timer">Jan. 10, 2019 13:27 ET</p>
        </div>
    </div>
    <div class="stocks__img">
        <img src="assets/img/stocks-graphic.svg" alt="Stocks graphic" />
    </div>
</a>